<!DOCTYPE html><% const base = htmlWebpackPlugin.options.basePath %>
<html lang="ru" class="document">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>Blueprinter</title>
  <link rel="apple-touch-icon" sizes="180x180" href="<%= base %>apple-touch-icon.png"/>
  <link rel="shortcut icon" href="<%= base %>favicon.ico"/>
  <link rel="icon" type="image/png" sizes="32x32" href="<%= base %>favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="<%= base %>favicon-16x16.png"/>
  <link rel="mask-icon" href="<%= base %>safari-pinned-tab.svg" color="#5bbad5"/>
</head>
<body class="document__body">
  <div id="react-app" class="document__app"></div>
  <% if (process.env.NODE_ENV === 'production') { %>
  <script type="text/javascript" src="./refract.js"></script>
  <% } %>
</body>
</html>